@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
*{
    margin: 0;
    padding: 0;
   
   
}

body{
    background-color: white;
    font-family: 'calibri';
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}
/* Parte superior con el logo y el user*/

/*.logo1{
    margin-top: 0.5%;
    margin-left: 2%;
}
.logo2{
    width: 2.5%;
    margin-top: 0%;
    margin-left: 89%;
}*/

/* navbar */
header{
    background: #dec8a4;
    width: 100%;
    height: 90px;
    clear: both;
    content: '';
    display: table;
}
.menu{
    width: 100%;
    margin: 0 auto;
}
.menu nav ul{
    margin-left: -12%;
}
nav{
    float: right;
}
nav ul li{
    list-style: none;
    margin-top: 2%;
    margin-left: 55px;
    padding: 10px ;
    float: left;

}
nav ul li a{ 
   text-decoration: none;
   color: rgb(15, 15, 15);
   font-weight: bold;
}
nav ul li:hover{
    background-color: rgba(251, 234, 212, 0.995);
}

/* Primera img con su respectivo texto*/

.container-main img{
    width: 100%;
    margin-top: -0.5%;
    height: 550px;
    
}
.container-main span{
    color:rgba(255, 166, 0, 0.818);
}

.text-main{
    position: absolute;
    color: rgb(248, 240, 248);
    font-size: 25px;
    top: 25%;
    width: 550px;
    margin-left: 3.2%;
}


/* segunda img con su respectivo texto*/


.text-second{
    position: absolute;
    margin-top: 5%;
    color: rgb(111, 76, 34);
    font-size: 25px;
    top: 80%;
    width: 550px;
    margin-left: 10%;
}
.text-second h2{
    margin-top: 20px;
}
/* Card search*/

.card-search{
    display: flex;
    background-color: #fff;
    justify-content: center;
    flex-flow:wrap ;
    margin-top: 5%;
    padding-bottom: 60px;
}

.card-search form{
    background: rgb(255, 255, 255);
    border-radius: 5px;
    width: 80%;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    margin-top: 2%;
}

.card-search form .input-box{
    margin-top: 20px ;
    padding: 10px;
}
.card-title-input{
    width: 30%;
}
.card-search form .input-box span{
    display: block;
    columns: #999;
    padding-bottom: 5px;
    
}
.card-search form .input-box input,
.card-search form .input-box select{
width: 100%;
padding: 10px;
border-radius: 10px;
border: 1px solid rgba(0,0, 0,.3);
color: rgb(190, 130, 50);

}
.card-search form .flex-box{
    display: flex;
    gap: 15px;
}
.card-search form .flex-box .input-box{
    flex: 1 1 150px;
}

.card-search form .submit-btn{
    width: 200px;
    height: 40px;
    background: rgb(208, 174, 144);
    margin-top: 8%;
    border-radius: 8%;
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: 2.s linear;
}
.card-title-input{
    padding: 15px;
}

/* Card recetas*/

.new-recetas{
    top: 35px;
    height: 15vh;
    margin: 15px;
    font-size: 30px;
    padding-bottom: 30px;
    text-align: center;

}
.new-recetas h2{
    color: rgb(160, 84, 51);
    
}

  /*  cards*/
  
  .grid{
      display: grid;
      grid-gap: 30px;
      padding: 2%;
      margin-top: -1%;
      width: 96%;
      display: block;
      position: relative;
      margin-left:0%;
      background-color: white;

  }
.text-medium{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(13, 13, 13);
}
.rating{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: black;
}
.container-card-recet{
    padding: 2%;
    width: 29%;
    display: inline-block;
    
}
.card-recet{
grid-column-end: span 4;
display: flex;
flex-direction: column;
background-color: #edd1b3;
cursor: pointer;
transition: all 0.3s ease 0s;
} 
.card-recet img{
    width: 100%;
    height: 550px;
}

.img-card-recet{
    width: 100%;
    height: 90%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}
.img-card-recet img{
    width: 100%;
    height: 320px;
    position: relative;
    margin-top: -18%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.card-content{
    margin-top: -35%;
    padding: 20px;
    color: white;
}
.card-content h1{
        color: rgb(0, 0, 0);
        align-items: center;
        text-transform: uppercase;
        font-size: 25px;
        text-align: center;
    
}
.card-title{
    margin-bottom: 20px;
}
.card-inf{
    align-self: end;
}
.card-view{
  display: inline;
  margin-left: 60%;
}
.inf_general .com{
    padding: 4%;
    margin-left: 13%;
}
.inf_general{
    display: grid;
    grid-gap: 30px;
    padding: 2%;
    width: 96%;
    display: inline-block;
    position: relative;
    margin-left: 0%;
    background-color: #ffffff;
}

/*img tesxt*/

.inf-mensaje h1{ 
    position: absolute;
    color: black;
    font-size: 29px;
    margin-top: -26%;
    width: 550px;
    text-align: left;
    margin-left: 9%;
}
.com img{
    width: 60%;
    height: 15%;
    padding: 3%;
}
.com{
    background-color: #ffffff;
    display: inline-block;
    padding: 3%;
    text-align: center;
    grid-gap: 23px;
    padding: 1%;
    width: 10%;
    margin-right: -3%;
    
}
.mensaje .inf-mensaje h1{ 
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: infinite; 
}
.mensaje .inf-mensaje img{
    width: 100%;
}
.recetas{
    background-color: rgb(231, 205, 179);
    padding: 4%;
}
.email{
    width: 30%;
    margin-top: 5%;
    margin-left: 13%;
}
.email input{
    margin-top: 2%;
    text-align: center;
}
.email h1{
    color: rgb(0, 0, 0);
    align-items: center;
    font-size: 50px;
}
.email h2{
    color: #999;
}
.img img{
    width: 33%;
    margin-left: 54%;
    margin-top: -21%;
    height: 400px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

footer{
  background: #140B5C;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #0F0844;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}/*
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}/*
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}/*
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}




/*
.footer{
    background-color: #070707;
    color: rgb(255, 250, 244);

}
.footer .footer1{
    display: flex;
}
.footer1 .d1{
    padding: 10px 0 10px 10px;
    text-align: left;
    width: 30%; 
}
.footer1 .d2{
    padding: 10px 0 10px 10px;
    text-align: left;
    
    width: 30%;
}
.footer1 .d3{
    padding: 10px 0 10px 10px;
    text-align: left;
   
    width: 30%;
}
.footer1 .d3 *{
    text-align: center;
}
.footer .footer2{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 10%;
   flex-wrap: wrap;
}
.footer2 .df{
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer2 .redesSociales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.footer2 img{
    height: 35px;
    width: 35px;
    margin: 5px;
}
.footer2 .redesSociales img{
    display: flex;
    flex-wrap: wrap;
    height: 25px;
    width: 25px;
    margin: 5px;
}




/*
.footer1 .d1{
    text-align: left;
    margin-left: 58%;
    width: 33%;
    
}
.footer1 .d2{
    text-align: left;
    margin-left: 31%;
    width: 33%;
}
.footer1 .d3{
    text-align: left;
    margin-left: 10%;
    width: 33%;
}
.footer .footer2{
    margin-top: -3%;
    float: right;
}
.footer2 img{
    width: 30%;
    height: 12%;
}
.footer .footer2 .df img{
    width: 75px;
    display: block;
    position: relative;
    margin-top: -130%;
}

hr{
    margin-top: -10%;
    margin-left: 85%;
    height:200px;
    width:.5vw;
    border-width:0;
    color:#000;
    background-color:#000;
   }
   */

 