@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    list-style: none;
    transition: all .2s linear;
   
}

body{
    background-color:#FCF7E4;
    font-family: 'calibri';
}
/* Parte superior con el logo y el user*/
.logo-admin{
    background-color: black;
    height: 60px;
    
}
.logo1{
    margin-top: 0.5%;
    margin-left: 2%;
}
.logo2{
    width: 2.5%;
    margin-top: 0%;
    margin-left: 89%;
}


/* navbar */
header{
    background: #474747;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}
.menu{
    width: 100%;
    margin: 0 auto;
}
.menu nav ul{
    margin-left: -12%;
}
nav{
    float: right;
}
nav ul li{
    list-style: none;
    margin-left: 55px;
    padding: 10px ;
    float: left;

}
nav ul li a{ 
   text-decoration: none;
   color: white;
   font-weight: bold;
}
nav ul li:hover{
    background-color: rgb(165, 93, 30);
}

/* videos */
h1{
    display: flex;
    padding: 40px;
    justify-content: center;
}
.container-video{
    
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.card{
    width: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
}
.card h2{
    margin: 20px 0 12px 0;
}
.card p{
    margin: 0 20px 20px 0;
}
.container-video .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}