@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /*background-attachment: fixed;*/
}

body {
  background-color: #faf0ca;
  width: 100%;
  height: 100%;
  letter-spacing: 0.03em;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
}

/* navbar */
nav {
  margin-top: -8%;
  position: fixed;
  z-index: 2;
  background: #b5a384;
  height: 80px;
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

.enlace {
  position: absolute;
  padding: 20px 50px;
}

.logo {
  height: 40px;
}

.menu .nombre {
  margin-top: -19%;
  width: 100%;
  margin-left: 18%;
  color: #000;
}

.enlace .nombre span {
  color: #a56e20;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 4px;
}

nav ul li a {
  color: rgb(67, 39, 9);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
}

li a.active,
li a:hover {
  background: rgb(225, 146, 61);
  transition: 0.5s;
}

.actualizarUser{
  padding: 2%;
  font-size: 30px;
  font-weight: bold;
}
.actualizarUser span{
  color: rgb(225, 146, 61);
}
/*Formulario*/
.formUser{
  margin-top: 8%;
  text-align: center;
  margin-left: 1%;
}

.contenedorFormUser{
padding: 2%;
width: 36%;
margin-left: 28%;
margin-top: 2%;
border-radius:10px;
margin:auto;
background-color:rgb(213, 190, 150);
}


.contenedorFormUser label{
width:100px;
font-weight:bold;
display:inline-block;
}


.contenedorFormUser input[type="text"],
.contenedorFormUser input[type="email"],
.contenedorFormUser input[type="password"]{
width:160px;
padding:3px 10px;
border:1px solid #f6f6f6;
border-radius:3px;
background-color:#f6f6f6;
margin:8px 10;
display:inline-block;
}


/*MODAL LOGIN*/
button {
  font-weight: bold;
  font-size: 18px;
  background-color: #eab354;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.modal {
  margin-top: 3.5%;
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: -52px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 30%;
}

.modal-content .tittle p {
  text-align: center;
  font-weight: 600;
  font-size: 35px;
}

.modal .tittle-modal .sus {
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: 35px;
}

.container-form {
  margin-top: -15px;
  padding: 30px;
}

.modal-content label {
  font-size: 18px;
}

.container-form span.psw {
  font-weight: bold;
}

.modal-content input {
  width: 97%;
  height: 40px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid lightgray;
}

.container-sub {
  display: flex;
  background-color: lightgray;
  padding: 10px;
  width: auto;
}

.container-sub h4 {
  margin-top: 15px;
  margin-left: 20px;
  width: auto;
}

.subbtn {
  margin-left: 50px;
  width: 250px;
  background-color: rgb(225, 146, 61);
}

span.close {
  margin-left: 90%;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}



@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}



/* footer */

footer {
  background: #b5a384;
  width: 100%;
  margin-top: 5%;
}

footer::before {
  content: "";
  position: relative;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #000000;
}

footer .content {
  max-width: 1300px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logo-details .logo {
  width: 40px;
  height: 40px;
}

.logo-details .nombre span {
  color: #a56e20;
}

.logo-details .nombre {
  margin-top: -19%;
  width: 100%;
  margin-left: 18%;
  color: #000;
}

.content .top .media-icons {
  margin-top: -2%;
  display: flex;
}

.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
  background: #0077b5;
}

.top .media-icons a:nth-child(1):hover {
  color: #0077b5;
  background: #fff;
}

.top .media-icons a:nth-child(2) {
  background: #1da1f2;
}

.top .media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
}

.top .media-icons a:nth-child(3) {
  background: #e1306c;
}

.top .media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
}

.top .media-icons a:nth-child(4) {
  background: #f00;
}

.top .media-icons a:nth-child(4):hover {
  color: #f00;
  background: #fff;
}

footer .content .link-boxes {
  margin-top: -4%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}

.content .link-boxes .box li a:hover {
  opacity: 0.8;
}

.content .link-boxes .input-box {
  margin-right: 55px;
}

footer .bottom-details {
  margin-top: 2%;
  width: 99%;
  background: #7b481b93;
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}
