.contenedorFormUser {
  background-color: rgb(213, 190, 150);
  padding: 2%;
  width: 45%;
  text-align: center;
  border-radius: 10px;
  margin: auto;
}
.contenedorFormUser label {
  width: 150px;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
}

.contenedorFormUser input[type="text"],
.contenedorFormUser input[type="email"],
.contenedorFormUser input[type="password"] {
  width: 220px;
  padding: 5px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}
.boton .subbtn {
  background-color: #b5a384;
  width: 20%;
  padding: 0.4%;
  height: 50px;
  margin-left: 40.5%;
  color: whitesmoke;
  border: 1px solid #cebd9f;
  font-size: 17px;
}

.boton .subbtn:hover {
  background-color: #cebd9f;
  cursor: pointer;
}

.formUser .actualizarUser {
  text-align: center;
  margin-bottom: 2%;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block;
}

/*Estilos tabla tips*/
.listaReceta .btnReceta{
background-color: rgb(217, 152, 83);
width: 12%;
padding: 0%;
height: 40px;
margin-left: 10%;
color: whitesmoke;
border: 1px solid #cebd9f;
font-size: 16px;
margin-top:4% ;
}

.listaReceta .btnReceta a {
text-decoration: none;
color: whitesmoke;
font-weight: 500;
}

.listaReceta .btnReceta:hover {
background-color: #d7a753;
cursor: pointer;
}  

.tablecudReceta{
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  margin-left:10%;
  margin-top: 3%;
  padding: 2%;
  border: 5px solid rgb(92, 69, 18);
}

th, td {
  text-align: left;
  padding: 16px;
  border: 1px solid rgb(92, 69, 18);
}
th{
  text-align: center;
}

td a{
  text-decoration: none;
  color: whitesmoke;
  border-radius: 5px;
  padding: 7% 7%;
  margin-left: 10%;
}

td .btnDelete{
  background-color: rgb(226, 86, 86);
}

td .btnUpdate{
  background-color: rgb(53, 166, 53);
}

td .btnDelete:hover{
  background-color: rgb(225, 109, 109);
}

td .btnUpdate:hover{
  background-color: rgb(78, 177, 78);
}

tr:nth-child(even) {
  background-color: rgb(216, 197, 171);
}

